In [1]:
import pandas as pd

In [2]:
data = 'claves_100k.csv'
df=pd.read_csv(data, encoding_errors='ignore')

In [3]:
df.head()

         Clave  Fortaleza
0     kzde5577          1
1     kino3434          1
2    visi7k1yr          1
3     megzy123          1
4  lamborghin1          1

In [ ]:
X = df.drop('Fortaleza', axis=1)
y = df['Fortaleza']

In [4]:
df['Long'] = 0
index = 0
for clave in df['Clave']:
    df['Long'].iloc[index] = len(df['Clave'].iloc[index])
    index += 1

NameError: name 'X' is not defined

In [ ]:
X = df.drop('Clave', axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(random_state=1)
model.fit(X_train, y_train)

In [ ]:
pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

acc = accuracy_score(pred, y_test)

acc